.l1 { font-size:13px; }

#window-1 { top: 2em; left: 2em;}
#window-2 { top: 14em; left: 47em;}

._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint { z-index:5; }
._jsPlumb_overlay { z-index:6; }
.hl { border:3px solid red; }













